*{
    background-color: rgb(18, 18, 18);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-color: white;
}

.h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.a01{
    background-color: rgb(225, 165, 92);
}
.col{
    height: 180px;
    width: 1050px;
    background-color: rgb(246, 241, 234);
    border: solid rgb(0, 187, 255);
    margin: 10px;
    text-align: center;
    float: bottom;
    padding: 55px;
    padding-top: 3px;
    color: rgb(255, 255, 255);
}
