*{
    background-color: rgb(44, 43, 43);
    color: white;
    border-color: white;
}
.box1{
    display: block;
    border: 5px solid;
    padding: 40px;
    border-color: rgb(194, 187, 187);
    position: left;
    background-color: rgb(105, 18, 2);
    height: 440px;
    width: 93%;
}
.col{
    height: 360px;
    width: 248px;
    background-color: burlywood;
    border: 4px solid red;
    margin: 10px;
    text-align: center;
    float: left;
    padding: 55px;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}
.kk{
    color: rgb(255, 255, 255);
    padding: 5px;
    padding-left: 20px;
}
.go{
    color: rgb(255, 255, 255);
}

